/*top*/
.top {display:flex; align-items:center; justify-content:flex-start; flex-wrap:wrap; padding:20px 0; border-bottom:1px solid #e0e0e0;}
.top .logo {width:min(40%, 200px); margin:0 0 20px; padding:20px;}
.top ul {width:100%; display:flex; align-items:center; border-top:1px solid #e0e0e0;}
.top ul li {font-weight:800; flex:1; display:flex; align-items:center; justify-content:center; text-align:center; padding:20px 0;}
.top ul li:not(:last-child) {border-right:1px solid #e0e0e0;}

@media all and (min-width:768px) {
  .top {flex-wrap:nowrap; justify-content:space-between;}
  .top .logo {margin:0 auto 0 0;}
  .top ul {width:60%; border-top:0;}
  .top ul li {font-size:18px;}
  .top ul li:not(:last-child) {border-right:0;}
}

@media all and (min-width:1200px) {
  .top ul li {font-size:20px;}
}


/*위치안내*/
section.loc .mapbox {width:100%; overflow:hidden;}
section.loc .mapbox .cont {display:none;}
section.loc .mapbox .map_border {display:none;}
section.loc .mapbox .wrap_controllers {display:none;}

@media all and (min-width:768px) {
}

@media all and (min-width:1200px) {
}


/*bottom*/
.bottom {background:#404040; color:#ddd; padding:40px 20px;}
