/*top*/
.top {border-bottom:1px solid #e0e0e0; display:fixed;}
.top .inner {display:flex; align-items:center; justify-content:flex-start; flex-wrap:wrap; padding:0;}
.top .logo {width:min(50%, 250px); padding:20px;}
.top ul {width:100%; display:flex; align-items:center; border-top:1px solid #e0e0e0;}
.top ul li {font-weight:700; flex:1; display:flex; align-items:center; justify-content:center; text-align:center; padding:15px 0;}
.top ul li:not(:last-child) {border-right:1px solid #e0e0e0;}

@media all and (min-width:768px) {
  .top .inner {flex-wrap:nowrap; justify-content:space-between;}
  .top .logo {margin:0 auto 0 0;}
  .top ul {width:60%; border-top:0;}
  .top ul li {font-size:18px;}
  .top ul li:not(:last-child) {border-right:0;}
}

@media all and (min-width:1200px) {
  .top ul li {font-size:20px;}
}


/*공통*/
.inner {width:100%; max-width:1400px; padding:0 20px;}


/*main*/
section.main {background:#f5f5f5; display:flex; align-items:center; justify-content:center; flex-wrap:wrap;}
section.main .txt {padding:60px 0; width:100%; text-align:center;}
section.main .info {width:100%;}


/*위치안내*/
section.loc .mapbox {width:100%; overflow:hidden;}
section.loc .mapbox .cont {display:none;}
section.loc .mapbox .map_border {display:none;}
section.loc .mapbox .wrap_controllers {display:none;}

@media all and (min-width:768px) {
}

@media all and (min-width:1200px) {
}


/*bottom*/
.bottom {background:#404040; color:#ddd; padding:40px 20px;}
.bottom h5 {font-size:1.25em; font-weight:700; margin:0 0 20px;}
.bottom ul li {display:flex; align-items:center;}
.bottom ul li em {width:5em; font-weight:700;}
.bottom .copy {margin:20px 0 0; font-size:0.9em; color:#aaa;}