body,html{margin:0; padding:0; scroll-behavior:smooth;}

/*공통*/
.inner {width:100%; max-width:1400px; padding:0 20px; margin:0 auto;}
.pbr {display:inline-block;}
.mbr {display:block;}

@media all and (min-width:1200px) {
  .pbr {display:block;}
  .mbr {display:inline-block;}
}


/*nav*/
nav {position:fixed; width:100%; background:#fff; z-index:1000; -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.08); -moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.08); box-shadow:0 0 10px 0 rgba(0,0,0,0.08);}
nav .inner {display:flex; align-items:center; justify-content:center; flex-wrap:wrap; padding:0;}
nav .logo {padding:10px 20px; overflow:hidden;}
nav .logo img {width:auto; height:30px; transition:0.3s;}
nav ul {width:100%; display:flex; align-items:center; justify-content:center; padding:10px 20px; gap:0 2em;}
nav ul li {font-weight:600; display:flex; align-items:center; justify-content:center; text-align:center;}

@media all and (min-width:768px) {
  nav {height:100px; transition:0.3s;}
  body.scroll nav {height:70px;}
  nav .inner {flex-wrap:nowrap; justify-content:space-between; height:100%;}
  nav .logo {flex-shrink:0;}
  nav .logo img {height:50px;}
  body.scroll nav .logo img {height:40px;}
  nav ul {justify-content:flex-end;}
  nav ul li {font-size:18px;}
}

@media all and (min-width:1200px) {
  nav ul {gap:0 3em;}
  nav ul li {font-size:20px;}
}


/*메인*/
#main {height:640px; overflow:hidden;}
.slider {position:relative; width:100%; height:100%; background:#404040;}
.slide {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; transition:opacity 1s ease; display:flex; align-items:center; justify-content:center; padding:100px 0 40px;}
.slide.active {opacity:1; z-index:1;}

.slide .sdwrap {display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between; width:94%; max-width:1360px; gap:20px 0;}
.slide .sdwrap .txt {text-align:center; color:#fff;}
.slide .sdwrap .txt .t01 {color:#dc3018; font-weight:600; margin:0 0 10px; font-size:0.9em; line-height:1.2;}
.slide .sdwrap .txt .t02 {font-weight:700; font-size:1.5em; margin:0 0 10px;}
.slide .sdwrap .txt .t03 {}
.slide .sdwrap .img {width:100%;}
.slide .sdwrap .img img {width:100%; max-width:480px; display:block; margin:0 auto; border-radius:16px;}

@media all and (min-width:768px) {
  .slide .sdwrap {flex-wrap:nowrap;}
  .slide .sdwrap .txt {width:50%; text-align:left;}
  .slide .sdwrap .txt .t01 {font-size:1em;}
  .slide .sdwrap .txt .t02 {font-size:2em;}
  .slide .sdwrap .img {width:45%;}
  .slide .sdwrap .img img {max-width:100%;}
}

@media all and (min-width:1200px) {
  .slide {padding:120px 0 20px;}
  .slide .sdwrap .txt .t02 {font-size:2.5em;}
  .slide .sdwrap .txt .t03 {font-size:1.1em;}
}


/*메인 - 컨트롤*/
.slider .control {display:flex; width:min(94%, 1360px); align-items:center; justify-content:center; gap:10px; position:absolute; left:max(3%, calc(50% - 680px)); bottom:20px; z-index:2;}
.slider .control .prev,
.slider .control .next {cursor:pointer; background:none; border:none; color:#fff; display:flex; align-items:center; justify-content:center; width:20px; height:20px;}
.slider .control .pager {display:flex; gap:10px;}
.slider .control .dot {width:30px; height:3px; background:#fff; opacity:0.2; cursor:pointer;}
.slider .control .dot.active {opacity:1;}

@media all and (min-width:768px) {
  .slider .control {justify-content:flex-start; bottom:80px;}
}


/*메인 - 공통*/
.sectit {margin-bottom:20px;}
.sectit p {color:#dc3018; font-weight:600; text-transform:uppercase;}
.sectit h5 {font-weight:600; font-size:1.5em;}


/*메인 - cs*/
.maincs {background:#dc3018; color:#fff; padding:20px 0; height:100px;}
.maincs .inner {height:100%; display:flex; align-items:center; justify-content:space-between; gap:20px 0;}
.maincs p {font-weight:700; font-size:1.25em;}
.maincs dl {display:grid; grid-template-columns:auto auto; align-items:center; gap:0 1em;}
.maincs dt {font-weight:600;}
.maincs dd:nth-last-of-type(2) {font-size:1.25em; font-weight:600;}

@media all and (min-width:768px) {
  .maincs p {font-size:1.5em;}
  .maincs dl {grid-template-columns:auto auto auto auto;}
  .maincs dd:nth-last-of-type(2) {font-size:1.5em;}
}


/*인사말*/
section.greet {padding:40px 0;}


/*위치안내*/
section.loc .mapbox {width:100%; overflow:hidden;}
section.loc .mapbox .cont {display:none;}
section.loc .mapbox .map_border {display:none;}
section.loc .mapbox .wrap_controllers {display:none;}

@media all and (min-width:768px) {
}

@media all and (min-width:1200px) {
}


/*footer*/
footer {background:#404040; color:#ddd; padding:40px 20px; position:relative;}
footer h5 {font-size:1.25em; font-weight:700; margin:0 0 20px;}
footer ul li {display:flex; align-items:center;}
footer ul li em {width:5em; font-weight:700;}
footer .copy {margin:20px 0 0; font-size:0.9em; color:#aaa;}
footer #scrollTopBtn {position:fixed; right:20px; bottom:20px; display:flex; align-items:center; justify-content:center; width:50px; height:50px; border-radius:100%; color:#fff; border:0; background:#dc3018; z-index:1000;}
footer #scrollTopBtn:after {font-family:'Material Symbols Outlined'; content:'arrow_upward'; font-size:1.25em;}