@charset "utf-8";
/*
	Reset CSS
	update : 2015.04.09
*/

* {margin:0;padding:0;box-sizing:border-box;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none;-webkit-touch-callout:none; word-break:keep-all; box-sizing:border-box }
a[href="tel"] {color:inherit !important; text-decoration:none;}
input[type="submit"]{-webkit-appearance: none; -webkit-border-radius:0}
html {overflow-x:hidden;}
body, html{font-family:'Noto Sans KR', sans-serif, '돋움'; font-optical-sizing:auto; font-size:16px; font-weight:500; letter-spacing:-0.05em; overscroll-behavior: none;}
::selection{background-color:#2f4858;color:#fff;}
::-moz-selection{background-color:#2f4858;color:#fff;}

/* common reset */
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,a,abbr,address,cite,em,img,strong,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,section,summary,audio,video
{margin:0;padding:0;border:0;/*font:inherit;*/vertical-align:baseline;}
body{line-height:1;}
table{border-collapse:collapse;border-spacing:0; background:#fff}
img{max-width:100%; border:0;-webkit-tap-highlight-color:rgba(0,0,0,0); vertical-align:top;-ms-interpolation-mode:bicubic}
strong,
b{font-weight:700;}
ol,ul{list-style:none}
html,body{width:100%; height:100%;margin:0;padding:0; /*overflow-x:hidden;*/ color:#404040; line-height:1.45;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
i,address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
ol,ul,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-weight:400; font-size:100%;}
abbr,acronym,fieldset{border:0}
hr{display:none;clear:both}
legend,caption{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;margin:0;padding:0;line-height:0; display:none; letter-spacing:-9999px}
label{cursor:pointer}
a{color:inherit}
a:link,a:visited,a:hover,a:active{text-decoration:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio[controls],canvas,video{display:inline-block;zoom:1}
audio:not([controls]){display:none;height:0}
acronym,abbr{cursor:help}abbr[title]{border-bottom:1px dotted}
ul,ol{list-style:none;list-style-image:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
label,select,input,button{vertical-align:middle}button{border:0;cursor:pointer}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:baseline;vertical-align:middle}
button,input{overflow:visible;line-height:normal}
button,select{text-tranotoform:none}
button[disabled],html input[disabled]{cursor:default}
button,html input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible;cursor:pointer;-webkit-appearance:none;
text-decoration:none !important;
	font-family:inherit;
	font-size:0.9em;
	border:1px solid #c8c8c8;
	height:36px;
	line-height:36px;
}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}
select{margin:0;padding:0;border:1px solid #ccc;box-sizing:border-box;line-height:1}

/*  Form and Button  */
form{margin:0;}
fieldset{margin-left:0;margin-right:0;padding:0;}
legend { position: absolute !important;left: -9999px;width: 1px;height: 1px;font-size: 0;line-height: 0;overflow: hidden; color:#fff}
.blind { position: absolute !important;left: -9999px;width: 1px;height: 1px;font-size: 0;line-height: 0;overflow: hidden;}

a[class*='button'],
button,
button[class*='button'],button[type='reset'], /*  */
html input[type='button'], /*  Avoid [Android4.2.2]bug)  */
input[type='reset'],
input[type='text'],input[type='password'],input[type='file'],
input[type='email'],input[type='number'],input[type='search'],input[type='tel'],input[type='url'],
input[type='radio'],input[type='checkbox'],
textarea,[action] textarea,
select,[action] select{
	display:inline-block;
	box-sizing:border-box; /* [IE8+] */
	max-width:100%;
	border-radius:0px;
	line-height:normal; /* 2.429=((36-2)/14)px */
	vertical-align:middle;
	text-decoration:none !important;
	font-family:inherit;
	padding:0 .786em;
	font-size:0.9em;
	height:36px;
	line-height:36px;
}
.wrap_map button {height:unset;}

input:focus{border-color:#666}

input[type='radio']{ /* [SF]fix */
	border-radius:9999px;
}

input[type='number'] {width:auto;}

/* Button */
input[type='image']{margin-top:.333em;margin-bottom:.333em;vertical-align:middle;} /* 20160708 */
html input[type='button'], /*  Avoid [Android4.2.2]bug */
input[type='reset'],
button,
button[class*='button'],button[type='reset'], /*  */
a[class*='button']{-webkit-border-radius:0;-webkit-appearance:none;
	padding:0 .786em; /*  (((36-2)/14)-1.333)/2) (((36-14)/2)/14) */
	border:1px solid #bbb;
	color:#333;
	white-space:nowrap;
}

input[type='text'],input[type='password'],input[type='file'],
input[type='email'],input[type='number'],input[type='search'],input[type='tel'],input[type='url'],
textarea,[action] textarea{
	-webkit-appearance:none;
	border:1px solid #e0e0e0;
	background-color:#fafafa;
}

/* [CR][FF][OP] */
input[type='file']{
	height:auto;padding-top:.583em;padding-bottom:.583em;border-color:tranotoparent;background-color:#fafafa;font-size:.857em /* 12px */;font-family:'inhert';line-height:1.333;
}

/* [IE10+] */
input[type='file']::-ms-value{height:2.666em;margin:-.666em 0 -.666em -.2em;border:1px solid #ccc;background-color:#fafafa;}
input[type='file']::-ms-browse{height:2.5em;margin:-.555em -.2em -.555em .166em;
	border:1px solid #999;border-color:#e0e0e0;
	background-color:#eee;
	background:linear-gradient(180deg, #fff 0, #fff 3%, #eee 3%, #fff 100%);
}

textarea,[action] textarea{
	width:100%;height:8em;line-height:1.333;
	padding:0.586em 0.786em;
}
textarea[rows='1']{height:1.444em;}
textarea[rows='2']{height:2.888em;}
textarea[rows='5']{height:7.222em;}

select,[action] select{
	border:1px solid #e0e0e0;
	background:#fafafa url('../img/select_arr.svg') no-repeat 99% center / 1em;
	padding:0 .286em;
	height:36px;
	line-height:36px;
}
select[multiple]{height:auto;}

input[type='radio'],input[type='checkbox']{
	box-sizing:border-box; /* [IE8,9]fix */
	width:1em;height:36px;
	margin:0;/* =((36-14)/14/2) */
	line-height:normal;
}

/* Clear Fix */
.clearfix{/* min-height:0; */}
.clearfix:before,
.clearfix:after{content:'';display:table;} /* [IE8+] */
.clearfix:after{clear:both;}

.nowrap {white-space: nowrap !important;}

/* textarea */
textarea{position:relative;width:100%;resize:none}

/* select */
select{-webkit-appearance:none; -moz-appearance:none; appearance:none;position:relative; min-width:60px;  padding-right:29px; color:#666; outline:none; -webkit-border-radius:0;border-radius:0;}
select::-ms-expand{display:none}
